@mixin flexCenter($direction){
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

header {
    @include flexCenter(column);
    background-color: lightblue;
    color: $textColor;
    height:100vh;
    button {
      background: $primaryBtn;
      /*&:hover{
          background:red;
      }
      */
      &::after{
          content:'Helooooo' //appending to orgi content
      }
    }
  }